### C++ ###
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
info.plist

main.cpp
bk.cpp
input.txt

atcoder/